.Report table {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.Report table thead th {
    padding: 10px;
}

.Report table thead th:nth-child(1){
    border-right: 1px solid #dbdbdb;
}

.Report table thead th:nth-child(2){
    border-right: 1px solid #dbdbdb;
}

.Report table thead th:nth-child(3){
    border-right: 1px solid #dbdbdb;
}

.Report table thead th:nth-child(4){
    border-right: 1px solid #dbdbdb;
}

.Report table tbody td {
    padding: 20px;
    color: #848484;
}

.Report table tbody td button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ff6b6b;
    color: white;
}

.Report table tbody td button:last-child {
    background-color: #dbdbdb;
}

.Report table tbody td button:focus {
    outline: none;
}